body {background-color: #f6eed4;padding-left:50px;padding-right:50px}
header {font-family: Courier New; text-align: center;font-size: 200%;color:#3c1518;width:100%;text-decoration: underline;}
h2 {width:100%; text-align: center;color: #3c1518;font-family: Courier New;font-size: 20px}
section {color: #3c1518;width: 100%;font-family: Trebuchet MS;text-align: justify;padding-bottom: 1%;padding-top: 1%;}
article {width:60%;float:right;color:#3c1518;font-family:Trebuchet MS;text-align: left;padding-bottom: 20px;}
article1 {width:40%;float:right;color:#3c1518;font-family: Trebuchet MS;text-align: left;padding-bottom: 20px}
footer {width:100%;color:#3c1518;font-family: Trebuchet MS;padding-bottom: 2%;padding-left: 70px;font-size: 14px}
.clearfix {overflow:auto}
